project:
  type: website

website:
  title: "Introdução ao R"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: intro.qmd
        text: Primeiros Passos
      - href: pressupostos.qmd
        text: Análise de Pressupostos
      - href: testes.qmd
        text: Testes Estatísticos
      - href: post.qmd
        text: Testes Post-Hoc
      - text: "Mais"
        menu:
          - href: ggplot.qmd
            text: O Básico do ggplot2
          - href: shiny.qmd
            text: O Básico do Shiny
          - href: pacs.qmd
            text: Sugestões de Pacotes

format:
  html:
    theme: cosmo  # Tema base que mais se aproxima do que você quer
    css: styles.css
    toc: true
    highlight: pygments

editor: visual